<div class='text-center'>
  <h1 class='display-4 mt-5'>Rails Way</h1>

  <div class='jumbotron mt-5'>
    <h1 class='display-6 mb-4'>About</h1>

    <p>
      Little game built with <strong>Rails</strong> &amp; <strong>Turbolinks</strong><br>
      <em>(iOS and Android)</em>
    </p>

    <p><%= link_to 'GitHub repo', 'https://github.com/lucascaton/rails_way' %></p>

    <p>Created by <strong>Lucas Caton</strong></p>
    <p>Copyright &copy; <%= Time.zone.today.year %></p>
  </div>
</div>
