<%= render 'layouts/back_button' %>

<div class='text-center'>
  <h1 class='display-4 m-5'>Rails Way</h1>

  <p class='lead m-0 p-5 pb-0'>The goal is simple: you have to move the path blocks around so the train can go from an entrance to an exit.</p>
  <p class='lead m-0 pl-5 pr-5'>You don't have much time though, so hurry up!</p>
</div>
