<div class='row align-items-start'>
  <div id='railroads' class='row align-items-center m-5'>
    <% @images.each do |image| %>
      <%= image_tag image, class: 'img-fluid p-1 col-6' %>
    <% end %>
  </ul>
</div>

<div id='entrance-icon'></div>
<div id='exit-icon'>🏁</div>
