body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

main {
  min-height: 100vh;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#blocks {
  list-style-type: none;

  li {
    width:  150px;
    height: 150px;

    padding: 1px;
    float: left;
    font-size: 4em;
    text-align: center;

    img {
      width:  150px;
      height: 150px;
    }
  }
}
